<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/layout::head(~{::title},~{::link})">
    <title th:text="${titulo}"></title>


</head>
<body class="">
<div class="wrapper ">
    <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/oauth2/authorization/auth0}">Log In</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <p>You are logged in!</p>
    </div>

    <div th:replace="layout/layout::sidebar"></div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav th:replace="layout/layout::navBar"></nav>
        <!-- End Navbar -->
        <div style="margin-top:100px;padding:25px">
            <div class="card">
                <div class="card-header" style="background-color: #f8f9f9" >
                    <div class="d-flex">
                        <div class="p-2 flex-fill"> <strong><h3>Crear Empleado</h3></strong></div>
                        <div class="p-2">

                        </div>
                    </div>
                </div>
                <div class="card-body" style="background-color: $gray-100" padding="60%">
                    <!-- ZONA DE TRABAJO DE DATOS -->
                    <div>
                        <img src="img/empleados.png" style = "float:right"   width="20%" margin-right="inline-flex"  >
                    </div>

                    <form>
                        <div class="row">
                            <div class="form-group "style="width:20%">
                                <label for="nombre">Nombre</label>
                                <input th:field="*{name}" class="form-control" type="nombre"  id="nombre">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="apellido">Apellidos</label>
                                <input th:field="*{apellido}" class="form-control" type="apellido"  id="apellido">
                            </div>
                        </div>

                        <div class="form-group" style="width:50%">
                            <label for="email">Email </label>
<!--                            <input th:field="*{email}" class="form-control" type="email"  id="email">-->
                        </div>
                        <div class="form-group" style="width:30%">
                            <label for="rol">Rol</label>
                            <select class="custom-select" id="rol">

                                <option>Operario</option>
                                <option>Administrador</option>

                            </select>
                        </div>


                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="submit" class="btn btn-primary">Cancelar</button>
                    </form>



                </div>
                <div class="card-footer" style="background-color: púrpura-100">

                </div>
            </div>
        </div>
        <footer th:include="layout/layout::footer"></footer>
    </div>
</div>
</body>
</html>