<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/layout::head(~{::title},~{::link})">
    <title th:text="${titulo}"></title>


</head>
<body class="">
<div class="wrapper ">
    <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/oauth2/authorization/auth0}">Log In</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <p>You are logged in!</p>
    </div>

    <div th:replace="layout/layout::sidebar"></div>
    <div class="main-panel">
        <!-- Navbar -->
        <nav th:replace="layout/layout::navBar"></nav>
        <!-- End Navbar -->
        <div style="margin-top:100px;padding:25px">
            <div class="card">
                <div class="card-header" style="background-color: #2ba9cd" >
                    <div class="d-flex">
                        <div class="p-2 flex-fill"><h4>Crear Empleado</h4></div>
                        <div class="p-2">

                        </div>
                    </div>
                </div>
                <div class="card-body" style="background-color: $gray-100">
                    <!-- ZONA DE TRABAJO DE DATOS -->

                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Nombre</label>
                            <input type="nombre" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Apellidos</label>
                            <input type="apellido" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Email address</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Rol</label>
                            <select class="form-control" id="exampleFormControlSelect1">

                                <option>Operario</option>
                                <option>Administrador</option>

                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Comentarios/label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="submit" class="btn btn-primary">Cancelar</button>
                    </form>



                </div>
                <div class="card-footer" style="background-color: púrpura-100">

                </div>
            </div>
        </div>
        <footer th:include="layout/layout::footer"></footer>
    </div>
</div>
</body>
</html>