<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>saludos desde transaction</h1>
    <a th:href="@{/agregar}">Nuevo Movimiento</a>
    <br>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Concepto</th>
            <th>Monto</th>
        </tr>
        <tr th:each="movimiento: ${movimientos}">
            <td th:text="${movimiento.id_transaction}"></td>
            <td th:text="${movimiento.conceptoMovimiento}"></td>
            <td th:text="${movimiento.montoMovimiento}"></td>
        </tr>
    </table>
    <br>
</body>
</html>